{{ define "main" }}

<!-- hero area -->
<section class="hero-area-single bg-primary overflow-hidden" id="parallax">
    <!-- <div class="kaistbg">
        <img src="{{`images/backgrounds/kaist.jpeg` | relURL}}" alt="bg-shape">
    </div> 
    <div class="container">
        <div class="row">
            <div class="col-sm-11">
                <!-- <img src="{{`images/backgrounds/logo.png` | relURL}}" alt="tei-logo" width="400" /> -->
    <!-- <h1 class="text-white font-tertiary">{{ .Site.Data.homepage.banner.title | safeHTML }}</h1> -->
</section>

{{ partial "page-title.html" . }} {{ if .Params.ShowSchedule }} {{end}} {{ if .Params.ShowSchedule }}
<section class="section">
    <div class="single-body">
        <div class="single-page-contents text-dark">{{.Content }}</div>
    </div>
</section>
{{else}}
<div style="padding-top: 0px"></div>
<section class="section">
    <div class="single-body-noTable">
        <div class="single-page-contents text-dark">{{.Content }}</div>
    </div>
</section>
{{ end }}

<div style="padding-top: 250px"></div>
{{ end }}