{{ define "main" }}

<!-- hero area -->
<section class="hero-area-single navigation-single overflow-hidden" id="parallax"></section>

<div style="padding-top: 50px"></div>

{{ partial "page-title.html" . }} {{ if .Params.ShowSchedule }} {{end}} {{ if .Params.ShowSchedule }}
<section class="section">
    <div class="single-body">
        <div class="single-page-contents text-dark">{{.Content }}</div>
    </div>
</section>
{{else}}
<div style="padding-top: 0px"></div>
<section class="section">
    <div class="single-body-noTable">
        <div class="single-page-contents text-dark">{{.Content }}</div>
    </div>
</section>
{{ end }}

<div style="padding-top: 250px"></div>
{{ end }}