/*!------------------------------------------------------------------
[MAIN STYLESHEET]
PROJECT: Project Name
VERSION: Versoin Number
-------------------------------------------------------------------*/

@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700,800,900";
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
    line-height: 1.2;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    color: #262626;
}

p {
    font-weight: 400;
    color: #262626;
    font-size: 1.1rem;
    line-height: 1.7;
    font-family: "Noto Sans KR", sans-serif;
}


@media (max-width: 991px) {
    p {
        font-size: 15px;
        line-height: 1.7;
    }
}

p strong {
    font-weight: 600;
    color:#262626;
}

p a{
    font-weight: 500;
}

li {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #262626;
    list-style-type: square;
}

li em {
    font-weight: 600;
}

li ul li {
    list-style-type: circle;
    padding: 0 40px 10px 0;
    line-height: 1.5;
}

li ul li strong {
    font-weight: 600;
    text-decoration: underline;
}

@media (max-width: 991px) {
    li {
        font-size: 15px;
        line-height: 1.5;
    }
}

li strong {
    font-weight: 600;
}

li strong underline {
    color: red;
}

li h6 {
    line-height: 1.3;
    padding: 0 20px 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: playfair display, serif;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 55px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
}

@media (max-width: 991px) {
    d4 h1,
    .h1 {
        font-size: 65px;
    }
}

h2,
.h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: rgba(93, 164, 227);
    margin-bottom: 15px;
}

@media (max-width: 991px) {
    h2,
    .h2 {
        font-size: 50px;
    }
}

h3,
.h3 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: rgba(164, 203, 237);
    line-height: 140%;
    margin-bottom: 50px;
}

h3 strong{
    font-weight: 800;
}

h4,
.h4 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: black;
    padding-top: 40px;
}

@media (max-width: 991px) {
    h4 {
        font-size: 25px;
    }
}

h5,
.h5 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.3rem;
    font-weight: 800;
    padding: 15px 0 0 0px;
}

h5 em {
    color: #ff5e29;
    font-size: 1.2rem;
}

h6,
.h6 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 800;
    color: #4346F1;
    font-size: 1.2rem;
    line-height: 1.7;
    padding: 10px 0 0 0px;
}


.btn {
    font-size: 22px;
    font-family: playfair display, serif;
    text-transform: capitalize;
    padding: 16px 44px;
    border-radius: 5px;
    font-weight: 600;
    border: 0;
    position: relative;
    z-index: 1;
    transition: 0.2s ease;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.btn:active {
    box-shadow: none;
}

.btn-sm {
    font-size: 15px;
    padding: 10px 30px;
}

.btn-xs {
    padding: 5px 10px;
    font-size: 15px;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-primary.active {
    opacity: 0.8;
}

.btn-primary:active {
    background: var(--primary-color) !important;
}

.btn-primary:hover {
    background: var(--primary-color);
}

.btn-primary.focus,
.btn-primary.active {
    background: var(--primary-color) !important;
    box-shadow: none !important;
}

.btn-transparent {
    background: transparent;
    color: var(--primary-color);
    font-weight: 700;
}

.btn-transparent:active,
.btn-transparent:hover {
    color: var(--primary-color);
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

::selection {
    background: var(--primary-color);
    color: #fff;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

ol,
ul {
    list-style-type: none;
    margin: 0 0 10px 0;
}

img {
    vertical-align: middle;
    border: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a,
button,
select {
    cursor: pointer;
    transition: 0.2s ease;
}

a:focus,
button:focus,
select:focus {
    outline: 0;
}

a.text-dark:hover {
    color: var(--primary-color) !important;
}

a:hover {
    color: var(--primary-color);
}

.slick-slide {
    outline: 0;
}

.section {
    padding-top: 0px;
    padding-bottom: 00px;
}

.section-title {
    margin-bottom: 80px;
    font-family: "Noto Sans KR", sans-serif;
}

.bg-cover {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.overlay {
    position: relative;
}

.overlay::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}

.outline-0 {
    outline: 0 !important;
}

.d-unset {
    display: unset !important;
}

.bg-primary {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(2022/../../images/backgrounds/header-korea-banner.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background: var(--primary-color) !important */
}

.bg-gray {
    background: #eaeaea !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-color {
    color: #262626;
}

.text-dark {
    color: #000 !important;
}

.text-light {
    color: #999 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.zindex-1 {
    z-index: 1;
}

.rounded-lg {
    border-radius: 15px;
}

.overflow-hidden {
    overflow: hidden;
}

.font-secondary {
    font-family: "Noto Sans KR", sans-serif !important;
}

.font-tertiary {
    font-family: "Noto Sans KR", sans-serif !important;
    font-size: 45px;
    text-align: left;
}

.shadow {
    box-shadow: 0 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.bg-dark {
    background-color: #222 !important;
}

.icon {
    font-size: 45px;
}

.icon-bg {
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
}

.icon-light {
    color: #c8d5ef;
}

.slick-dots {
    text-align: center;
    padding-left: 0;
}

.slick-dots li {
    display: inline-block;
    margin: 2px;
}

.slick-dots li.slick-active button {
    background: #fff;
    width: 25px;
}

.slick-dots li button {
    height: 6px;
    width: 12px;
    background: rgba(255, 255, 255, 0.5);
    color: transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s ease;
    border: 0;
}

.form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #c7c7c7;
    height: 60px;
}

.form-control:focus {
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: none !important;
}

textarea.form-control {
    height: 120px;
}

.card {
    border: 0;
    margin-bottom: 30px;
}

.card-header {
    border: 0;
}

.card-footer {
    border: 0;
}

.navigation {
    padding: 10px 50px;
    transition: 0.3s ease;
}

.navigation.nav-bg {
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navigation-single {
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 991px) {
    .navigation.nav-bg {
        padding: 15px 20px;
    }
}

@media (max-width: 991px) {
    .navigation {
        padding: 20px;
        /* background: var(--primary-color); */
    }
}

.navbar .nav-item .nav-link {
    font-family: "Noto Sans KR", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    padding: 15px;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.nav-item::marker {
    color: rgba(255, 0, 0, 0);
}

.navbar .nav-item.active {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 800;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand {
    font-family: "Do Hyeon", sans-serif;
    font-size: 35px;
    font-weight: 400;
}

.hero-area {
    padding: 300px 0 450px;
    position: relative;
}

.hero-area-single {
    padding: 50px 0 50px;
    position: relative;
}

@media (max-width: 767px) {
    .hero-area {
        padding: 200px 0 150px;
        overflow: hidden;
    }
}

.hero-area h1 {
    position: relative;
    z-index: 2;
}

.layer {
    position: absolute;
    z-index: 1;
}

#l1 {
    bottom: 0;
    left: 0;
}

#l2 {
    top: 190px;
    left: -250px;
}

#l3 {
    top: 200px;
    left: 40%;
}

#l4 {
    top: 200px;
    right: 40%;
}

#l5 {
    top: 100px;
    right: -150px;
}

#l6 {
    bottom: -20px;
    left: 10%;
}

#l7 {
    bottom: 100px;
    left: 20%;
}

#l8 {
    bottom: 160px;
    right: 45%;
}

#l9 {
    bottom: 100px;
    right: -10px;
}

.layer-bg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.progress-wrapper {
    height: 130px;
    overflow: hidden;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wave::before,
.wave::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 800px;
    bottom: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 45%;
    transform: translateX(-50%) rotate(0);
    animation: rotate 6s linear infinite;
    z-index: 10;
}

.wave::after {
    border-radius: 47%;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-50%) rotate(0);
    animation: rotate 10s linear -5s infinite;
    z-index: 20;
}

@keyframes rotate {
    50% {
        transform: translateX(-50%) rotate(180deg);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

.edu-bg-image {
    position: absolute;
    left: 0;
    top: -300px;
    z-index: -1;
}

.hover-bg-primary {
    transition: 0.3s ease;
}

.hover-bg-primary:hover {
    background: var(--primary-color);
}

.hover-bg-primary:hover * {
    color: #fff;
}

.active-bg-primary {
    transition: 0.3s ease;
    background: var(--primary-color);
}

.active-bg-primary * {
    color: #fff;
}

.hover-shadow {
    transition: 0.2s ease;
}

.hover-shadow:hover {
    box-shadow: 0 18px 40px 8px rgba(224, 241, 255, 0.54) !important;
}

.hover-wrapper {
    overflow: hidden;
}

.hover-wrapper img {
    transition: 0.3s ease;
    transform: scale(1.1);
}

.hover-wrapper:hover img {
    transform: scale(1);
}

.hover-wrapper:hover .hover-overlay {
    opacity: 1;
    visibility: visible;
}

.hover-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.hover-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
}

.testimonial-content strong {
    color: #2bfdff;
    font-weight: bold;
}

.testimonial-bg-shapes .container {
    position: relative;
    z-index: 1;
}

.testimonial-bg-shapes .bg-map {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.testimonial-bg-shapes .bg-shape-1 {
    position: absolute;
    left: 100px;
    top: -50px;
}

.testimonial-bg-shapes .bg-shape-2 {
    position: absolute;
    right: 150px;
    top: 50px;
}

.testimonial-bg-shapes .bg-shape-3 {
    position: absolute;
    right: 50px;
    top: 200px;
}

.testimonial-bg-shapes .bg-shape-4 {
    position: absolute;
    left: 100px;
    bottom: 200px;
}

.testimonial-bg-shapes .bg-shape-5 {
    position: absolute;
    right: 200px;
    bottom: -50px;
}

.footer-section {
    padding-top: 0px;
}

.section-on-footer {
    margin-bottom: -250px;
}

.shadow-down {
    position: relative;
}

.shadow-down::before {
    position: absolute;
    content: "";
    box-shadow: 0 0 80.75px 14.25px rgba(224, 241, 255, 0.34);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.card-lg {
    flex-direction: row-reverse;
    align-items: center;
}

@media (max-width: 991px) {
    .card-lg {
        flex-direction: column;
    }
}

blockquote {
    display: inline-block;
    padding: 10px 20px;
    background: #eaeaea;
    border-left: 2px solid var(--primary-color);
    font-style: italic;
    font-size: 22px;
}

.content * {
    margin-bottom: 20px;
}

.content strong {
    font-family: playfair display, serif;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    display: inherit;
    line-height: 1.5;
}

.page-title-bolee {
    font-size: 30px;
    color: var(--primary-color);
}

.page-title-alt {
    padding: 350px 0 70px;
}

.border-thick {
    border: 10px solid;
}

.drag-lg-top {
    margin-top: -230px;
}

@media (max-width: 991px) {
    .drag-lg-top {
        margin-top: 0;
    }
}

.page-title-alt .container {
    position: relative;
    z-index: 1;
}

.page-title-alt .bg-shape-1 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.page-title-alt .bg-shape-2 {
    position: absolute;
    left: 70px;
    top: 100px;
}

.page-title-alt .bg-shape-3 {
    position: absolute;
    left: 30%;
    top: 50px;
    transform: rotate(180deg);
}

.page-title-alt .bg-shape-4 {
    position: absolute;
    left: 100px;
    bottom: 100px;
}

.page-title-alt .bg-shape-5 {
    position: absolute;
    left: 40%;
    bottom: -25px;
}

.page-title-alt .bg-shape-6 {
    position: absolute;
    bottom: 100px;
    right: -100px;
}

.page-title {
    padding: 100px 0 00px;
}

.page-title .container {
    position: relative;
    z-index: 1;
}

.page-title .bg-shape-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.page-title .bg-shape-2 {
    position: absolute;
    left: -20px;
    top: -10px;
}

.page-title .bg-shape-3 {
    position: absolute;
    left: 10%;
    top: 100px;
}

.page-title .bg-shape-4 {
    position: absolute;
    left: 50%;
    top: -20px;
}

.page-title .bg-shape-5 {
    position: absolute;
    left: 90px;
    bottom: -50px;
    transform: rotate(180deg);
}

.page-title .bg-shape-6 {
    position: absolute;
    right: 20%;
    bottom: -20px;
}

.page-title .bg-shape-7 {
    position: absolute;
    right: -220px;
    bottom: -100px;
}

.filter-controls li {
    cursor: pointer;
}

.filter-controls li.active {
    font-weight: 700;
}


/* table */

table {
    table-layout: fixed;
    width: 100%;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 330px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    font-family: "Noto Sans KR", sans-serif;
    padding: 20px 15px;
    text-align: left;
    font-weight: 900;
    font-size: 17px;
    color: #707070;
    text-transform: uppercase;
}

@media (max-width: 991px) {
    th {
        font-size: 13px;
    }
}

td {
    font-family: "Noto Sans KR", sans-serif;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 900;
    font-size: 17px;
    color: #4a4b4d;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

table.regis td.price{
    font-family: "Noto Sans KR", sans-serif;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 600 !important;
    font-size: 17px;
    color: #4a4b4d;
    border-bottom: solid 2px #4a4b4d;
}

table.regis td.price strong{
    font-weight: 800 !important;
    font-size: 17px;
    color: #4a4b4d;
}

table.regis td.topHead {
    background-color: #4a4b4d;
    color: white;
}

@media (max-width: 991px) {
    td {
        font-size: 13px;
        padding: 0 0 10px 0;
    }
}

td a:link {}

td strong {
    color: darkviolet;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 20, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 20, 0, 0.3);
}

.table-section {
    margin: 50px 15% 20px 15%;
    background-color: #f0f0f0;
}

.table-box {
    padding: 50px;
}

.table-title {
    font-family: "Noto Sans KR", sans-serif;
    color: #4a4b4d;
    font-size: 30px;
    font-weight: 800;
    padding-top: 10px;
    padding-left: 10px;
}

@media (max-width: 991px) {
    .table-title {
        font-size: 25px;
        padding: 0 0 20px 0;
    }
}

.table-title-small {
    color: #4a4b4d;
    font-size: 25px;
    font-weight: 800;
    padding-top: 10px;
}

.single-body {
    margin: 50px 15% 50px 15%;
}

@media (max-width: 991px) {
    .single-body {
        margin: 50px 5% 50px 5%;
    }
}

.single-body-noTable {
    margin: 50px 15% 30px 15%;
}

@media (max-width: 991px) {
    .single-body-noTable {
        margin: 50px 5% 50px 5%;
    }
}

.single-page-title {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 800;
    font-size: 60px;
    margin: 50px 15% 50px 15%;
}

@media (max-width: 991px) {
    .single-page-title {
        font-size: 40px;
        margin: 50px 5% 50px 5%;
    }
}

.single-page-contents {
    font-family: "Noto Sans KR", sans-serif;
}

.blankSpace40 {
    padding-bottom: 40px;
}

.blankSpace20 {
    padding-bottom: 20px;
}

.vtop {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.logoMainTitle {
    font-size: 100px;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 600;
    color: white;
}

.logoSecondTitle {
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 800;
    color: white;
    padding-left: 18px;
    margin-top: -10px;
    margin-bottom: px;
    text-align: justify;
    text-justify: inter-word;
}

.card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}

@media (max-width: 991px) {
    .card-text {
        font-size: 13px;
        font-weight: 300;
        line-height: 1.5;
    }
}

.card-body {
    background-color: #f5f5f5;
    height: 200px;
}

.TEI-logo {
    padding: 0 55% 0 5%;
}

@media (max-width: 991px) {
    .TEI-logo {
        padding: 0 40% 0 5%;
    }
}

.TEI-logo img {
    width: 100%;
}

.logo-level1 {
    font-family: "Do Hyeon", sans-serif;
    font-size: calc((75vw - 4.5rem) / 7);
}

@media (max-width: 991px) {
    .navbar-collapse {
        background-color: black;
    }
}

.footer-box {
    padding: 40px 20% 50px 20%;
}

.twitter-box {
    width: 90%;
    margin-top: 20px;
}

.copyright-title {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 800;
    color: #b3d9ff;
    font-size: 18px;
    line-height: 2;
    padding-bottom: 20px;
}

.copyright-text {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    color: lightgrey;
    font-size: 15px;
    line-height: 1.5;
}

.copyright-text-blank-20 {
    padding-bottom: 20px;
}

.copyright-text-blank-50 {
    padding-bottom: 50px;
}

.copyright-text a {
    color: lightgrey;
}
