<!-- footer -->

<footer class="bg-dark footer-section">
    <div class="row g-0 footer-box">
        <div class="col-md-4">
            <div class="mb-0 copyright-title">CONFERENCE INFO</div>
            <img src="{{`images/TEI2022_logo.png` | relURL}} " alt="tei-logo" style="width: 60%" />
            <div class="mb-0 copyright-text-blank-20"></div>
            <div class="mb-0 copyright-text">ACM TEI Conference 2022</div>
            <div class="mb-0 copyright-text">KAIST, Daejeon, South Korea</div>
            <div class="mb-0 copyright-text">FEB 13 - 16</div>
        </div>
        <div class="col-md-4">
            <div class="mb-0 copyright-title">SOCIAL MEDIA</div>
            <div class="mb-0 copyright-text">
                <a href="https://twitter.com/tei2022?lang=en">Twitter</a>
            </div>
            <div class="mb-0 copyright-text">
                <a href="https://www.facebook.com/teiconf/">Facebook</a>
            </div>
            <div class="twitter-box">
                <a class="twitter-timeline" href="https://twitter.com/TEI2022?ref_src=twsrc%5Etfw">Tweets by TEI2022</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-0 copyright-title">PARTNERS</div>
      <img
        src="{{`images/KAIST-Logo.white.svg` | relURL}}"
        alt="kaist-logo"
        style="width: 60%"
      />
      <div class="mb-0 copyright-text-blank-50"></div>
      <div class="mb-0 copyright-title">PARTNERS</div>
      <img
        src="{{`images/acm_k_flat_vtag_rev.svg` | relURL}}"
        alt="SCM"
        style="width: 60%"
      />
      <div class="mb-0 copyright-text-blank-20"></div>
      <img
        src="{{`images/sigchi-logo-full.svg` | relURL}}"
        alt="SIGCHI"
        style="width: 60%"
      />
    </div>
  </div>

  <div class="border-top copyright-text text-center border-dark py-5">
    ACM SIGCHI. All rights reserved.
  </div>

  <!-- TWITTER -->
</footer>
<!-- /footer -->

{{ "<!-- JS Plugins -->" | safeHTML }} {{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }} {{ "<!-- Main Script -->" | safeHTML }} {{ $script := resources.Get
"js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>