{{ $text := .Get 0 | default "text" }} {{ $rows := .Inner | transform.Unmarshal (dict "delimiter" "|") }}

<div class="blankSpace40"></div>

<div class="p-4 rounded">
    <!-- #e1effc -->

    <div class="m-4">
        <div class="container-fluid">
            <!-- Card sizing using grid markup -->
            <div class="row mb-4" style="height:30px">
                <div class="col-sm-2">
                    <div class="card text-center bg-day">
                        <div class="card-body-day">
                            <div class="card-title">Sun(13th)</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="card text-center">
                        <div class="card-body-day">
                            <div class="card-title"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-center bg-day">
                        <div class="card-body-day">
                            <div class="card-title">Mon(14th)</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-center bg-day">
                        <div class="card-body-day">
                            <div class="card-title">Tue(15th)</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card text-center bg-day">
                        <div class="card-body-day">
                            <div class="card-title">Wed(16th)</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card sizing using grid markup -->
            <div class="row mb-4">
                <div class="col-sm-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">T</h5>
                            <p class="card-text">t</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">T</h5>
                            <p class="card-text">t</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card 1</h5>
                            <p class="card-text">Some dummy text.</p>
                            <a href="#" class="btn btn-primary">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card 2</h5>
                            <p class="card-text">Some dummy text.</p>
                            <a href="#" class="btn btn-primary">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card 2</h5>
                            <p class="card-text">Some dummy text.</p>
                            <a href="#" class="btn btn-primary">Know more</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card sizing using sizing utility classes -->
            <div class="card w-100 mb-4">
                <div class="card-body">
                    <h5 class="card-title">Card 3</h5>
                    <p class="card-text">Some dummy text to make.</p>
                    <a href="#" class="btn btn-primary">Know more</a>
                </div>
            </div>

            <!-- Card sizing using sizing utility classes -->
            <div class="row mb-4">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card 1</h5>
                            <p class="card-text">Some dummy text.</p>
                            <a href="#" class="btn btn-primary">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card 2</h5>
                            <p class="card-text">Some dummy text.</p>
                            <a href="#" class="btn btn-primary">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card 2</h5>
                            <p class="card-text">Some dummy text.</p>
                            <a href="#" class="btn btn-primary">Know more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="blankSpace40"></div>
