{{ $text := .Get 0 | default "text" }} {{ $rows := .Inner }}

<div class="blankSpace20"></div>

<div class="p-4 rounded program-bg">
    <!-- #e1effc -->
    <div class="m-4">
        <div class="container-fluid">
            <div class="row mb-2 program-title">TEI 2022 CONFERENCE OVERVIEW</div>
                <div class="row mb-2 sigchi-linlk">
                    <a href="https://programs.sigchi.org/tei/2022/program/13-feb"> [SIGCHI PROGRAM LINK] </a>
                </div>
            <!-- DAY-->
            <div class="row mb-4" style="height:30px;">
                <div class="col-sm-2 column-padding">
                    <div class="text-center bg-day">
                        <div class="card-body-day">
                            <div class="card-title">Sun (13th)</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 column-padding">
                    <div class="card text-center" style="margin:0px;">
                        <div class="card-kst" style="margin:-1px;">KST</div>
                        <div class="card-cet">(CET)</div>
                        <div class="card-est">(EST)</div>
                    </div>
                </div>
                <div class="col-sm-3 column-padding">
                    <div class="text-center bg-day">
                        <div class="card-body-day">
                            <div class="card-title">Mon (14th)</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 column-padding">
                    <div class="text-center bg-day">
                        <div class="card-body-day">
                            <div class="card-title">Tue (15th)</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 column-padding">
                    <div class="text-center bg-day">
                        <div class="card-body-day">
                            <div class="card-title">Wed (16th)</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MORNING SCHEDULES -->
            <div class="row mb-4" style="height:250px;">
                <div class="col-sm-1 column-padding">
                    <a href="https://programs.sigchi.org/tei/2022/program/13-feb">
                        <div class="card text-center">
                            <div class="card-program" style="height:225px;">
                                <div class="card-title card-vertical">Studios</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-1 column-padding">
                    <a href="https://programs.sigchi.org/tei/2022/program/13-feb">
                        <div class="card text-center">
                            <div class="card-program" style="height:225px;">
                                <div class="card-title card-vertical">Studios</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Time -->
                <div class="col-sm-1 column-padding">
                    <div class="card text-center" style="height:20px;">
                        <div class="card-time-kst">08:00</div>
                        <div class="card-time-cet">(00:00)</div>
                        <div class="card-time-est">(18:00)</div>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <div class="card-time-kst">09:00</div>
                        <div class="card-time-cet">(01:00)</div>
                        <div class="card-time-est">(19:00)</div>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <div class="card-time-kst">10:00</div>
                        <div class="card-time-cet">(02:00)</div>
                        <div class="card-time-est">(20:00)</div>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <div class="card-time-kst">11:00</div>
                        <div class="card-time-cet">(03:00)</div>
                        <div class="card-time-est">(21:00)</div>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <div class="card-time-kst">12:00</div>
                        <div class="card-time-cet">(04:00)</div>
                        <div class="card-time-est">(22:00)</div>
                    </div>
                </div>
                <!-- Monday -->
                <div class="col-sm-3 column-padding">
                    <div class="card text-center" style="height:20px;">
                        <div class="card-program"></div>
                    </div>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70602">
                        <div class="card text-center" style="height:4px; margin-bottom: 22px">
                            <div class="card-program program-margin05">Welcome</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70622">
                        <div class="card text-center" style="height:25px; margin-bottom: 39px">
                            <div class="card-program program-margin15">Opening Keynote</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70096">
                        <div class="card text-center" style="height:50px;">
                            <div class="card-program-paper program-margin2">Fabrication</div>
                        </div>
                    </a>
                </div>
                <!-- Tuesday -->
                <div class="col-sm-3 column-padding">
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70635">
                        <div class="card text-center" style="height:20px;">
                            <div class="card-program program-margin1">Art Workshop</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70087">
                        <div class="card text-center" style="height:60px;">
                            <div class="card-program-paper program-margin2">Materials and Design</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70088">
                        <div class="card text-center" style="height:60px;">
                            <div class="card-program-paper program-margin2">Well-being</div>
                        </div>
                    </a>
                </div>
                <!-- Wednesday -->
                <div class="col-sm-3 column-padding">
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70693">
                        <div class="card text-center" style="height:20px;">
                            <div class="card-program program-margin1">Student Design Challenge</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70090">
                        <div class="card text-center" style="height:60px;">
                            <div class="card-program-paper program-margin2">Novel Interaction Techniques</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70605">
                        <div class="card text-center" style="height:15px;">
                            <div class="card-program program-margin1">Town Hall</div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- AFTERNOON SCHEDULES -->
            <div class="row mb-4" style="height:250px;">
                <div class="col-sm-1 column-padding">
                    <a href="https://programs.sigchi.org/tei/2022/program/13-feb">
                        <div class="card text-center">
                            <div class="card-program" style="height:225px;">
                                <div class="card-title card-vertical">studios</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-1 column-padding">
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70105">
                        <div class="card text-center">
                            <div class="card-program" style="height:225px;">
                                <div class="card-title card-vertical">Graduate School Consortium</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Time -->
                <div class="col-sm-1 column-padding">
                    <div class="card text-center" style="height:20px;">
                        <div class="card-time-kst">16:00</div>
                        <div class="card-time-cet">(08:00)</div>
                        <div class="card-time-est">(02:00)</div>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <div class="card-time-kst">17:00</div>
                        <div class="card-time-cet">(09:00)</div>
                        <div class="card-time-est">(03:00)</div>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <div class="card-time-kst">18:00</div>
                        <div class="card-time-cet">(10:00)</div>
                        <div class="card-time-est">(04:00)</div>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <div class="card-time-kst">19:00</div>
                        <div class="card-time-cet">(11:00)</div>
                        <div class="card-time-est">(05:00)</div>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <div class="card-time-kst">20:00</div>
                        <div class="card-time-cet">(12:00)</div>
                        <div class="card-time-est">(06:00)</div>
                    </div>
                </div>
                <!-- Monday -->
                <div class="col-sm-3 column-padding">
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70084">
                        <div class="card text-center" style="height:43px;">
                            <div class="card-program-paper program-margin17">Case studies</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70085">
                        <div class="card text-center" style="height:50px; margin-bottom: 30px">
                            <div class="card-program program-margin17">Prototyping</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70104">
                        <div class="card text-center" style="height:50px; margin-bottom: 39px">
                            <div class="card-program program-margin17">Art Panel & Performance</div>
                        </div>
                    </a>
                </div>
                <!-- Tuesday -->
                <div class="col-sm-3 column-padding">
                    <a href="https://tei.acm.org/2022/attend/diversity-inclusion/">
                        <div class="card text-center" style="height:20px;">
                            <div class="card-program program-margin1">Diversity Panel</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/15-feb">
                        <div class="card text-center" style="height:70px; margin-bottom: 32px">
                            <div class="card-program program-margin25">Work-in-Progress</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70089">
                        <div class="card text-center" style="height:50px; margin-bottom: 39px">
                            <div class="card-program-paper program-margin17">I/O Systems</div>
                        </div>
                    </a>
                </div>
                <!-- Wednesday -->
                <div class="col-sm-3 column-padding">
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70091">
                        <div class="card text-center" style="height:43px;">
                            <div class="card-program-paper program-margin17 program-bold">Analysis & Data</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70092">
                        <div class="card text-center" style="height:50px; margin-bottom: 30px">
                            <div class="card-program-paper program-margin17">Methods & Tools</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70623">
                        <div class="card text-center" style="height:20px; margin-bottom: 29px">
                            <div class="card-program program-margin1">Closing Keynote</div>
                        </div>
                    </a>
                    <a href="https://programs.sigchi.org/tei/2022/program/session/70603">
                        <div class="card text-center" style="height:4px; margin-bottom: 22px">
                            <div class="card-program program-margin05">Closing Remarks</div>
                        </div>ß
                    </a>
                </div>
            </div>
            <div class="row mb-2 Program-footnote"><a href="https://tei.acm.org/2022/attend/studios/">* Studio </a></div>
            <div class="row mb-2 Program-footnote"><a href="https://tei.acm.org/2022/attend/keynotes/"> * Keynote </a> </div>
            <div class="row mb-2 Program-footnote"><a href="https://tei.acm.org/2022/attend/paper/"> * Paper </a> </div>
            <div class="row mb-2 Program-footnote"><a href="https://tei.acm.org/2022/attend/work-in-progress/"> * Work-in-Progress</a> </div>
        </div>
    </div>

</div>
