{{ $text := .Get 0 | default "text" }} {{ $rows := .Inner | transform.Unmarshal (dict "delimiter" "|") }}

<div class="blankSpace20"></div>

<div class="p-4 rounded">
    <!-- #e1effc -->
    <div class="blankSpace10"></div>
    <div class="m-4">
        <div class="container-fluid">

            <!-- DAY-->
            <div class="row mb-4" style="height:30px;">
                <div class="col-sm-2 column-padding">
                    <div class="card text-center bg-day">
                        <div class="card-body-day">
                            <div class="card-title">Sun (13th)</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 column-padding">
                    <div class="card text-center">
                        <div class="card-kst" style="height:30px;">KST</div>
                    </div>
                </div>
                <div class="col-sm-3 column-padding">
                    <div class="card text-center bg-day">
                        <div class="card-body-day">
                            <div class="card-title">Mon (14th)</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 column-padding">
                    <div class="card text-center bg-day">
                        <div class="card-body-day">
                            <div class="card-title">Tue (15th)</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 column-padding">
                    <div class="card text-center bg-day">
                        <div class="card-body-day">
                            <div class="card-title">Wed (16th)</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MORNING SCHEDULES -->
            <div class="row mb-4" style="height:250px;">
                <div class="col-sm-1 column-padding">
                    <div class="card text-center">
                        <div class="card-body" style="height:225px;">
                            <div class="card-title card-vertical">studios</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 column-padding">
                    <div class="card text-center">
                        <div class="card-body" style="height:225px;">
                            <div class="card-title card-vertical">studios</div>
                        </div>
                    </div>
                </div>
                <!-- Time -->
                <div class="col-sm-1 column-padding">
                    <div class="card text-center" style="height:20px;">
                        <h5 class="card-time">8:00</h5>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <h5 class="card-time">9:00</h5>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <h5 class="card-time">10:00</h5>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <h5 class="card-time">11:00</h5>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <h5 class="card-time">12:00</h5>
                    </div>
                </div>
                <!-- Monday -->
                <div class="col-sm-3 column-padding">
                    <div class="card text-center" style="height:20px;">
                        <div class="card-program"></div>
                    </div>
                    <div class="card text-center" style="height:4px; margin-bottom: 22px">
                        <div class="card-program program-margin05">Welcome</div>
                    </div>
                    <div class="card text-center" style="height:25px; margin-bottom: 39px">
                        <div class="card-program program-margin15">opening keynote</div>
                    </div>
                    <div class="card text-center" style="height:50px;">
                        <div class="card-program-paper program-margin2">Fabrication</div>
                    </div>
                </div>
                <!-- Tuesday -->
                <div class="col-sm-3 column-padding">
                    <div class="card text-center" style="height:20px;">
                        <div class="card-program program-margin1">Art Workshop</div>
                    </div>
                    <div class="card text-center" style="height:60px;">
                        <div class="card-program-paper program-margin2">Materials and Design</div>
                    </div>
                    <div class="card text-center" style="height:60px;">
                        <div class="card-program-paper program-margin2">Well-being</div>
                    </div>
                </div>
                <!-- Wednesday -->
                <div class="col-sm-3 column-padding">
                    <div class="card text-center" style="height:20px;">
                        <div class="card-program program-margin1">Student Design Challenge</div>
                    </div>
                    <div class="card text-center" style="height:60px;">
                        <div class="card-program-paper program-margin2">Novel Interaction Techniques</div>
                    </div>
                    <div class="card text-center" style="height:15px;">
                        <div class="card-program program-margin1">town hall</div>
                    </div>
                </div>
            </div>

            <!-- AFTERNOON SCHEDULES -->
            <div class="row mb-4" style="height:250px;">
                <div class="col-sm-1 column-padding">
                    <div class="card text-center">
                        <div class="card-body" style="height:225px;">
                            <div class="card-title card-vertical">studios</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 column-padding">
                    <div class="card text-center">
                        <div class="card-body" style="height:225px;">
                            <div class="card-title card-vertical">graduate school consortium</div>
                        </div>
                    </div>
                </div>
                <!-- Time -->
                <div class="col-sm-1 column-padding">
                    <div class="card text-center" style="height:20px;">
                        <h5 class="card-time">16:00</h5>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <h5 class="card-time">17:00</h5>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <h5 class="card-time">18:00</h5>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <h5 class="card-time">19:00</h5>
                    </div>
                    <div class="card text-center" style="height:20px;">
                        <h5 class="card-time">20:00</h5>
                    </div>
                </div>
                <!-- Monday -->
                <div class="col-sm-3 column-padding">
                    <div class="card text-center" style="height:43px;">
                        <div class="card-program-paper program-margin17">Case studies</div>
                    </div>
                    <div class="card text-center" style="height:50px; margin-bottom: 30px">
                        <div class="card-program program-margin17">Prototyping</div>
                    </div>
                    <div class="card text-center" style="height:50px; margin-bottom: 39px">
                        <div class="card-program program-margin17">art panel & performance</div>
                    </div>
                </div>
                <!-- Tuesday -->
                <div class="col-sm-3 column-padding">
                    <div class="card text-center" style="height:20px;">
                        <div class="card-program program-margin1">Diversity Panel</div>
                    </div>
                    <div class="card text-center" style="height:70px; margin-bottom: 32px">
                        <div class="card-program program-margin25">Work-in-Progress</div>
                    </div>
                    <div class="card text-center" style="height:50px; margin-bottom: 39px">
                        <div class="card-program-paper program-margin17">I/O Systems</div>
                    </div>
                </div>
                <!-- Wednesday -->
                <div class="col-sm-3 column-padding">
                    <div class="card text-center" style="height:43px;">
                        <div class="card-program-paper program-margin17 program-bold">Analysis & Data</div>
                    </div>
                    <div class="card text-center" style="height:50px; margin-bottom: 30px">
                        <div class="card-program-paper program-margin17">Methods & Tools</div>
                    </div>
                    <div class="card text-center" style="height:20px; margin-bottom: 29px">
                        <div class="card-program program-margin1">closing keynote</div>
                    </div>
                    <div class="card text-center" style="height:4px; margin-bottom: 22px">
                        <div class="card-program program-margin05">closing remarks</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="blankSpace40"></div>
